* {
  font-family: poppins;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #242434;
}

/* Hero Section */

.navbar-collapse {
  flex-grow: 0 !important;
}

.logo-size {
  width: 210px;
  height: auto;
}

.nav-link:hover {
  opacity: 1;
  transition: all 0.1s ease-in-out;
  border: none;
  border-radius: 50px;
  height: 40x;
  width: 100%;
  color: #f8a827 !important;
  position: relative;
  bottom: 0;
  left: 0;
}

.nav-link-imavailable:hover {
  opacity: 1;
  transition: 0.1s;
  border: none;
  /* border-radius: 50px; */
  height: 40px;
  /* width: 100%; */
  background-color: #ffffff;
  color: #323543 !important;
  position: relative;
  bottom: 0;
  left: 0;
}

.icon-link:hover {
  opacity: 1;
  transition: 0.1s;
  border: none;
  /* border-radius: 50px; */
  height: 40px;
  /* width: 100%; */
  color: #f8a827 !important;
  position: relative;
  bottom: 0;
  left: 0;
}

.card-box:hover {
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.1s;

  background-color: #f8a827;
  color: #ffffff !important;
  position: relative;
  cursor: pointer;
}

.card-box-2:hover {
  opacity: 1;
  transition: 0.2s;
  transition-delay: 0.3s;

  background-color: #f8a827;
  color: #ffffff !important;
  position: relative;
  cursor: pointer;
}

.image-hover:hover {
  transition: 0.2s;
  transform: scale(1.3);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1em 3em;
}

a {
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.hero-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.padding-top {
  padding-top: 10%;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #242434;
  justify-content: center;
  align-items: center;
}

footer > .social-media-icons > a > i {
  color: white;
}

footer {
  color: white;
  font-size: 20px;
}

.footer {
  color: white;
  font-size: 40px;
}

.text-dark {
  color: #323543;
}
.text-light-gray {
  color: rgb(210, 210, 210);
}

.footer-padding {
  padding-top: 10%;
}

.bg-section {
  background: #242434;
}

.bg-about-section {
  background: #323543;
}

.bg-section2 {
  background: #242434;
}

.bg-section-tree {
  background: #242434;
}

.bg-yellow {
  background: #f8a827 !important;
}

.text-yellow {
  color: #f8a827;
}
.margin-left {
  margin-left: 5%;
}

.padding-left {
  padding-left: 10%;
}

.padding-right {
  padding-right: 10%;
}

.padding-bottom {
  padding-bottom: 0%;
}
.padding-bottom-home {
  padding-bottom: 5%;
}

.about-box {
  background: #f8a827;
  height: 13em;
  width: 14em;
}

.about-box-two {
  background: white;
  height: 13em;
  width: 14em;
}

.about-box-2 {
  background: #f8a827;
  height: 13em;
  width: 14em;
}

/* Style About card */
.about-box-container {
  width: 100%;
}

.about-section {
  padding-bottom: 5% !important;
  padding-top: 5%;
}

.about-section-tree {
  padding-bottom: 5% !important;
}
.home-section {
  padding-bottom: 0% !important;
  padding-top: 4.5%;
}

@media (max-width: 992px) {
  .kevin-img {
    position: absolute;
    width: auto !important;
    z-index: 0;
    opacity: 0.3;
    bottom: 0;
  }
}

.font-alright {
  font-size: 12px;
  padding-top: 10px;
}
