* {
  font-family: poppins;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #242434;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1em 3em;
}

.links {
  display: flex;
  gap: 50px;
}

p {
  font-size: 20px;
}

li {
  list-style: none;
  font-weight: 100;
}

a {
  color: rgb(255, 255, 255);
  font-weight: 400;
}

a:active {
  color: red !important;
}

.nav-button {
  color: gray;
}

.nav-button:hover {
  background-color: gray;
}

.logo {
  color: white;
  font-size: 3em;
}

/* Hero Section */

.hero-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padding-top {
  padding-top: 10%;
}

.hero-image > img {
  padding-left: 30px;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}

.hero-image:hover > img {
  opacity: 0.8;
}

.hero-content > div > button:hover {
  background-color: gray;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #242434;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}

footer > .social-media-icons > a > i {
  color: white;
}

footer > h2 {
  color: white;
  font-size: 40px;
}

.text-dark-cadet {
  color: rgb(103, 101, 101);
}

.text-light-gray {
  color: rgb(210, 210, 210);
}

.footer-padding {
  padding-top: 10%;
}

.bg-section {
  background: #323543;
}

.bg-section2 {
  background: #242434;
}

.bg-yellow {
  background: #f8a827;
}

.text-yellow {
  color: #f8a827;
}
.margin-left {
  margin-left: 5%;
}

.padding-left {
  padding-left: 10%;
}

.padding-right {
  padding-right: 10%;
}

.padding-bottom {
  padding-bottom: 7%;
}

.about-box {
  background: #f8a827;
  height: 13em;
  width: 14em;
}

.about-box-two {
  background: white;
  height: 13em;
  width: 14em;
}

.about-box-2 {
  background: #f8a827;
  height: 13em;
  width: 14em;
}

/* Style About card */
.about-box-container {
  width: 100%;
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.about-section {
  padding-bottom: 10% !important;
  padding-top: 5%;
}

.home-section {
  padding-bottom: 0% !important;
  padding-top: 4.5%;
}
